.App {
  text-align: center;
  
  
.container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: #f6f1f1;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #4084e9;
  height: 500px;
  border-radius: 0.07px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.6);
  color: rgb(239, 232, 232);
}





}



